<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title> Template | Andromeda's Blog </title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h2>
    <a href="/index.html">Andromeda's blog</a> | <a href="https://git.mtgmonkey.net/Andromeda">git</a> | <a href="/contact.html">contact</a>
  </h2>

  <h1>Template</h1>

  <p>This is a template page. Here is <a href="https://mtgmonkey.net">my hobby website</a>.</p>

  <h2>My Sites and Services</h2>

  <p>I host a variety of services - let me know if I should add more!</p>

  <ul>
    <li><a href="https://mtgmonkey.net">my pet site</a></li>
    <li><a href="https://blog.mtgmonkey.net">my blog</a></li>
    <li><a href="https://git.mtgmonkey.net">rgit</a></li>
    <li><a href="https://translate.mtgmonkey.net">libretranslate</a></li>
    <li><a href="https://chat.mtgmonkey.net">Jank Client fork (Spacebar instance)</a></li>
  </ul>

</body>
</html>
